wheel
setuptools
zmq
tqdm
wget
scipy
h5py
matplotlib
google-cloud-storage
hdf5plugin
pandas
tensorflow-gpu
tensorflow
scikit-image
opencv-python
numpy==1.16.4
blimpy
sklearn
Keras
Keras-Applications
Keras-Preprocessing
keras-vis
jupyter