wheel
setuptools
zmq
tqdm
wget
scipy
jax
jraph
torch 
torchvision 
torchaudio
h5py
matplotlib
google-cloud-storage
hdf5plugin
pandas
tensorflow-gpu
tensorflow
scikit-image
opencv-python
numpy==1.16.4
blimpy
Keras
Keras-Applications
Keras-Preprocessing
keras-vis
jupyter
git+https://github.com/kiyo-masui/bitshuffle
